name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build-and-deploy:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: yarn install
        run: yarn install
      - name: yarn build
        run: yarn prodBuild

      - uses: mr-smithers-excellent/docker-build-push@v2
        with:
          image: humanityagainstcovid19/frontend
          tag: ${GITHUB_SHA::8}
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - uses: azure/k8s-set-context@v1
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.DO_KUBECONFIG }}
        id: setcontext

      - uses: Azure/k8s-deploy@v1
        with:
          namespace: 'default'
          manifests: |
              deploy/deployment.yaml
          images: 'humanityagainstcovid19/frontend:${GITHUB_SHA::8}'
          kubectl-version: 'latest'
